@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');
@import "~bootstrap/scss/bootstrap";

$header-font: 'Lobster', cursive;
$regular-font: 'Marmelad', sans-serif;

h1{
    font-size: 50px;
    font-family: $header-font;
    text-align: center;
}

nav{
    background-color: #8b3c1f!important;
}

img{
    width: 90%;
    height: 100%;
    border-radius: 30px;

}

.navbar-brand{
    font-family: $header-font;
    color: #fff;
    font-size: 28px;
}

.nav-link{
    font-family: $regular-font;
    color: #fff!important;
    font-size: 18px;
}

.about-us{
    background-image: url('../img/about-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    height: 500px;  
    padding-top: 50px;

    h1{
        color: #fff;
        padding: 20px 0;
    }
}

.contact-us{
    background-image: url('../img/contact-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
    height: 500px;

    h1{
        color: #fff;
        padding: 20px 0;
    }
}

.image-gallery{

    h1{
        color: #8b3c1f;
        padding: 20px 0;
    }

    .last-image{
        max-height: 718px;
        padding: 10px 0;
    }

    .image{
        padding: 10px 0;
    }
}

.qa-carousel{
    background-color: #8b3c1f;
    padding: 100px 0 120px 0;

    h1{
        color: #fff;
        padding: 0 0 40px 0;
    }
    .q-a{
        padding: 20px;
        border: 2px solid #fff;
        border-radius: 30px;
    }

    .question{
        color: #fff;
        padding: 10px 0;
        font-family: $regular-font;
    }

    .answer {
        list-style: none;
        counter-reset: list;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      .answer > li {
        position: relative;
        display: block;
        height: 2rem;
        line-height: 2rem;
        margin-left: 1.75rem;
        margin-bottom: .25rem;
        padding-left: 1rem;
        padding-right: .5rem;
        color: #8b3c1f;
        background: #fff;
        white-space: nowrap;
        border-radius: .25rem;
        font-family: $regular-font;
      }
      .answer > li:last-child {
        margin-bottom: 0;
      }
      .answer > li::before {
        content: counter(list);
        counter-increment: list;
        position: absolute;
        left: -2rem;
        top: -.25rem;
        bottom: -.25rem;
        width: 2.5rem;
        line-height: 2rem;
        border-radius: 1.25rem;
        border: .25rem solid #8b3c1f;
        text-align: center;
        color: #8b3c1f;
        background: #fff;
        font-family: $regular-font;
      }
}